@use '@angular/material' as mat;
@use './theme-colors';
@use './app/layout/layout-component.theme';

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: theme-colors.$primary-palette,
    tertiary: theme-colors.$tertiary-palette,
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: theme-colors.$primary-palette,
    tertiary: theme-colors.$tertiary-palette,
  )
));

:root {
  @include mat.all-component-themes($light-theme);
  @include layout-component.theme($light-theme);
}